/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
yarn.lock
composer.lock
.idea/modules.xml
.idea/vcs.xml
.idea/werble.iml
composer.json
composer.lock
